<div class="container min-vh-100 mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6" data-controller="procedure">
      <h2 class="text-center mb-3">Update treatment</h2>
      <p><strong>Patient</strong>: <%= link_to @treatment.patient.name, patient_path(@treatment.patient) %></p>
      <%= simple_form_for(@treatment) do |f| %>

        <div data-procedure-target="new" data-procedures-count=<%= @procedures_count %>>
          <%= f.simple_fields_for :procedures do |b| %>
            <div class="form-row">
              <div class="col-8 form-group">
                <%= b.input :procedure %>
              </div>
              <div class="col-4 form-group">
                <%= b.input :price %>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <%= b.check_box :completed %>
                <%= b.label :completed %>
              </div>
              <div>
                <%= b.check_box :_destroy %>
                <%= b.label :delete %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-outline-secondary btn-sm w-25 mb-3"
            data-action="click->procedure#addEdit">Add Procedure</button>
          <%= link_to "Cancel Edit", treatment_path(@treatment), class: "btn btn-outline-secondary btn-sm w-25 mb-3" %>
        </div>

        <%= f.submit "Update", class: "btn btn-primary w-100 mb-3" %>
      <% end %>
    </div>
  </div>
</div>
