<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6" data-controller="service">
      <h2 class="text-center mb-3">Add a new treatment</h2>
      <%= simple_form_for(@treatment) do |f| %>
        <%= f.association :patient, label_method: :name_email, value_method: :id, input_html: { class: 'select2' } %>
        <%= f.simple_fields_for :procedures do |b| %>
          <%= b.input :procedure %>
          <%= b.input :price %>
        <% end %>
        <%= f.submit "Add", class: "btn btn-primary w-100 mb-3" %>
      <% end %>
    </div>
  </div>
</div>
