<div class="container min-vh-100 mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h2 class="text-center mb-3">Treatment Plan<%= @treatment.id %></h2>
      <div class="d-flex justify-content-between">
        <p><strong>Patient</strong>: <%= link_to @treatment.patient.name, patient_path(@treatment.patient) %></p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
          Add new payment
        </button>
      </div>

      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 80%;">Procedure</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <% @procedures.each do |procedure| %>
            <tr>
              <td style="width: 80%;"><%= procedure.procedure %></td>
              <td><%= humanized_money_with_symbol(procedure.price) %></td>
            </tr>
          <% end %>
          <tr class="table-dark">
            <td style="width: 80%;">Total</td>
            <td><%= humanized_money_with_symbol(@total) %></td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between">
        <% if policy(@treatment).edit? %>
          <%= link_to edit_treatment_path(@treatment), class: "btn btn-outline-secondary btn-sm w-25" do %>
            Edit
          <% end %>
        <% end %>
        <% if policy(@treatment).destroy? %>
          <%= link_to treatment_path(@treatment), class: "btn btn-outline-secondary btn-sm w-25", method: :delete, data: { confirm: "Are you sure?" } do %>
            Delete
          <% end %>
        <% end %>
      </div>

      <br>
      <h5><strong>Outstanding balance</strong>: <%= humanized_money_with_symbol(@balance) %></h5>

      <hr>
      <h5>Booking payments</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 80%;">Date</th>
            <th scope="col">Payment</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
                <td style="width: 80%;"><%= booking.start_time.strftime("%a, %e %b %Y") %></td>
                <td><%= humanized_money_with_symbol(booking.amount) %></td>
            </tr>
          <% end %>
          <tr class="table-dark">
            <td style="width: 80%;">Total</td>
            <td><%= humanized_money_with_symbol(@total_bookings_payments) %></td>
          </tr>
        </tbody>
      </table>

      <h5>Other payments</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 80%;">Date</th>
            <th scope="col">Payment</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <tr>
                <td style="width: 80%;"><%= payment.created_at.strftime("%a, %e %b %Y") %></td>
                <td><%= humanized_money_with_symbol(payment.amount) %></td>
            </tr>
          <% end %>
          <tr class="table-dark">
            <td style="width: 80%;">Total</td>
            <td><%= humanized_money_with_symbol(@total_other_payments) %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Back to patient", patient_path(@treatment.patient) %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for([@treatment, @payment], remote: :true) do |f| %>
        <div class="modal-body">
            <%= f.input :amount %>
        </div>
        <div class="modal-footer">
            <%= f.submit "Add", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
