<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h2 class="text-center mb-3">Update booking</h2>
        <%= simple_form_for(@booking) do |f| %>
          <%= f.input :start_time, required: true, html5: true %>
          <%= f.input :end_time, required: true, html5: true %>
          <%= f.input :status, required: true, collection: Booking::STATUS %>
          <%= f.association :patient, label_method: :name, value_method: :id %>
          <%= f.simple_fields_for :booking_services do |b| %>
            <%= b.association :service, label: "Service" %>
          <% end %>
          <%= f.submit "Update", class: "btn btn-primary w-100" %>
        <% end %>
    </div>
  </div>
</div>
