<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="text-center mb-3">Bookings</h2>
      <% if policy(Booking).index? %>
        <%= week_calendar events: @bookings do |date, bookings| %>
          <% (8..19).each do |hour| %>
            <% (0..1).each do |m| %>
              <div>
                <% time = DateTime.parse([date, "#{hour}:#{m * 30}"].join(' ')) %>
                <% time_to_s = time.strftime("%H:%M") %>
                <%= link_to time_to_s, new_booking_path(date: date, time: time_to_s) %>
                <% bookings.select{ |b| time >= b.start_time && time < b.end_time }.each do |booking| %>
                  <%= link_to booking_path(booking) do  %>
                    <%= booking.patient.short_name %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <br>
      <h2 class="mb-3">Upcoming Bookings</h2>
        <% @bookingsu.each do |booking| %>
          <% if booking.start_time > Time.now %>
            <%= link_to booking_path(booking), class: "list-group-item list-group-item-action" do  %>
              <% if policy(Booking).index? %>
                <% "#{booking.start_time.strftime("%a, %e %b %Y")} -
                Booking #{booking.id} - Patient: #{booking.patient.name}" %>
              <% else %>
                <% "#{booking.start_time.strftime("%a, %e %b %Y")} -
                Booking #{booking.id} - Doctor: #{booking.doctor.name}" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= will_paginate @bookingsu, param_name: :new_bookings %>
      <h2 class="mb-3">Past Bookings</h2>
        <% @bookingsp.each do |booking| %>
          <% if booking.start_time < Time.now %>
            <%= link_to booking_path(booking), class: "list-group-item list-group-item-action" do  %>
              <% if policy(Booking).index? %>
                <% "#{booking.start_time.strftime("%a, %e %b %Y")} -
                Booking #{booking.id} - Patient: #{booking.patient.name}" %>
              <% else %>
                <% "#{booking.start_time.strftime("%a, %e %b %Y")} -
                Booking #{booking.id} - Doctor: #{booking.doctor.name}" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= will_paginate @bookingsp, param_name: :old_bookings %>
    </div>
  </div>
</div>
