<div class="container min-vh-100 mt-3">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2 class="text-center mb-3">Bookings</h2>
      <% if policy(Booking).index? %>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <!-- Daily Calendar View -->
            <%= calendar(number_of_days: 1, events: @bookings) do |date, bookings| %>
              <%# here used to be the simple_calendar logic %>
            <% end %>
            <!-- the Tui Calendar replacing simple_calendar  -->
            <div data-controller="calendar">
              <div id="calendar" class="mb-3" style="height: 640px;">
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 mb-3">
            <!-- Monthly Calendar View -->
            <%= month_calendar(events: @bookings) do |date, bookings| %>
              <%= link_to date.day, bookings_path(start_date: date), class: "btn btn-outline-secondary border-0 w-100 h-100 p-0 d-flex justify-content-center align-items-center" %>
            <% end %>
            <!-- Upcoming & Past Bookings -->
            <%= render "bookings", bookingsu: @bookingsu, bookingsp: @bookingsp %>
          </div>
        </div>
      <% else %>
        <div class="bg-white shadow rounded rounded-3 my-3 p-3 w-100">
          <%= render "bookings", bookingsu: @bookingsu, bookingsp: @bookingsp %>
        </div>
      <% end %>
    </div>
  </div>
</div>
