<div class="container min-vh-100 mt-3">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2 class="text-center mb-3">Bookings</h2>
      <% if policy(Booking).index? %>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <%#= week_calendar events: @bookings do |date, bookings| %>
            <%= calendar(number_of_days: 1, events: @bookings) do |date, bookings| %>
              <% (8..19).each do |hour| %>
                <% (0..1).each do |m| %>
                <div class="row m-0 p-0">
                  <div class="col-2 m-0 p-0">
                    <% time = DateTime.parse([date, "#{hour}:#{m * 30}"].join(' ')) %>
                    <% time_to_s = time.strftime("%H:%M") %>
                    <%= link_to time_to_s, new_booking_path(date: date, time: time_to_s), class:"btn btn-light btn-block rounded-0 p-0" %>
                  </div>
                  <div class="col-10 m-0 p-0">
                    <% bookings.select{ |b| time >= b.start_time && time < b.end_time }.each do |booking| %>
                      <%= link_to booking_path(booking), class:"btn btn-outline-secondary btn-block rounded-0 py-0 border-0 text-left" do  %>
                        <%= booking.patient.short_name %>
                      <% end %>
                    <% end %>
                  </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-12 col-lg-6">
            <%= month_calendar(events: @bookings) do |date, bookings| %>
              <%= link_to date.day, bookings_path(start_date: date), class: "btn btn-outline-secondary border-0 w-100 h-100 p-0 d-flex justify-content-center align-items-center" %>
            <% end %>
            <%= render "bookings", bookingsu: @bookingsu, bookingsp: @bookingsp %>
          </div>
        </div>
      <% else %>
        <div class="bg-white shadow rounded rounded-3 my-3 p-3 w-100">
          <%= render "bookings", bookingsu: @bookingsu, bookingsp: @bookingsp %>
        </div>
      <% end %>
    </div>
  </div>
</div>
