<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h2 class="text-center mb-3">Booking <%= @booking.id %></h2>
      <p>On <%= @booking.start_time.strftime("%a, %e %b %Y") %>,
        at <%= @booking.start_time.strftime("%H:%M") %> for <%= "#{@booking.length}mins" %>.
        Doctor: <%= @doctor.first_name %>,
        Patient: <%= @patient.first_name %>
        (<%= @booking.status %>)
      </p>
      <div class="list-group">
        <% @booking.booking_services.each do |booking_service| %>
          <%= link_to booking_service.service.name, service_path(booking_service.service), class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
      <br>
      <div>
        <% if @booking.note %>
          <h5>Clinical Notes
            <% if policy(@booking.note).edit? %>
              <%= link_to edit_note_path(@booking.note) do %>
                <i class="far fa-edit"></i>
              <% end %>
            <% end %>
            <% if policy(@booking.note).destroy? %>
              <%= link_to note_path(@booking.note), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </h5>
          <p><%= @booking.note.note %></p>
        <% else %>
          <%= simple_form_for([@booking, @note], remote: true) do |f| %>
            <%= f.input :note, label: "Notes" %>
            <%= f.submit "Add", class: "btn btn-primary w-100 mb-3" %>
          <% end %>
        <% end %>
      </div>
      <br>
      <%= link_to "List", bookings_path %>
      <% if policy(@booking).edit? %>
        <%= link_to edit_booking_path(@booking) do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
      <% if policy(@booking).destroy? %>
        <%= link_to booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
