<div class="container min-vh-100 mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h2 class="text-center mb-3">Booking #<%= @booking.id %> <small><span class="badge badge-primary"><%= @booking.state %></span></small></h2>
      <p><strong>Patient</strong>: <%= link_to @booking.patient.name, patient_path(@booking.patient) %></p>
      <p><%= @booking.start_time.strftime("%a, %e %b %Y") %>,
        at <%= @booking.start_time.strftime("%H:%M") %> for <%= "#{@booking.length}mins" %>.
        (<%= @booking.status %>)
      </p>
      <h5>Services</h5>
      <div class="list-group">
        <% @booking.booking_services.each do |booking_service| %>
          <div class="list-group-item list-group-item-action"><%= booking_service.service.name %></div>
        <% end %>
      </div>

      <!-- <ul class="list-unstyled">
        <li><strong>ISSUED ON:</strong> <%#= @booking.created_at.to_date %></li>
        <li><strong>SERVICE:</strong> <%#= @booking.services.first.name %></li>
        <li><strong>TOTAL:</strong> <%#= humanized_money_with_symbol @booking.amount %></li>
        </li>
      </ul> -->

      <hr>
      <div>
        <% if policy(User).doctor? %>
          <% if @booking.note %>
            <div class="d-flex justify-content-between my-3">
              <h5>Clinical Notes</h5>
              <% if policy(@booking.note).edit? %>
                <%= link_to edit_note_path(@booking.note) do %>
                  <i class="far fa-edit"></i>
                <% end %>
              <% end %>
            </div>
            <div class="container bg-white rounded rounded-3 my-3 p-3">
              <p><%= @booking.note.note %></p>
            </div>
          <% else %>
            <%= simple_form_for([@booking, @note], remote: true) do |f| %>
              <h5><%= f.input :note, label: "Notes" %></h5>
              <%= f.submit "Add Notes", class: "btn btn-primary w-100 mb-3" %>
            <% end %>
          <% end %>
          <hr>
          <% if @booking.amount != 0 %>
            <h5>Payment</h5>
            <p><%= humanized_money_with_symbol(@booking.amount) %></p>
          <% else %>
            <%= simple_form_for(@booking, url: update_amount_booking_path(@booking), remote: true) do |f| %>
              <h5><%= f.input :amount, label: "Payment" %></h5>
              <%= f.submit "Add Payment", class: "btn btn-primary w-100 mb-3" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <hr>
      <div class="d-flex justify-content-between my-3">
        <% if policy(@booking).edit? %>
          <%= link_to edit_booking_path(@booking), class: "btn btn-outline-secondary btn-sm w-25" do %>
            Edit
          <% end %>
        <% end %>
        <% if policy(@booking).destroy? %>
          <%= link_to booking_path(@booking), class: "btn btn-outline-secondary btn-sm w-25", method: :delete, data: { confirm: "Are you sure?" } do %>
            Delete
          <% end %>
        <% end %>
      </div>
      <%= link_to "Back to patient", patient_path(@booking.patient) %>
    </div>
  </div>
</div>
