<div class="container min-vh-100 mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h2 class="text-center mb-3">Add a new patient</h2>
        <%= simple_form_for(@user, url: create_users_path(@user)) do |f| %>
          <div class="container bg-white rounded rounded-3 my-3 p-3">
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :first_name, required: true %>
              <%= f.input :last_name, required: true %>
              <%= f.input :mobile %>
          </div>
          <%= f.submit "Add Patient", class: "btn btn-primary w-100" %>
        <% end %>
    </div>
  </div>
</div>
