<div class="container min-vh-100 mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h2 class="text-center mb-3">Request</h2>
      <div class="container bg-white rounded rounded-3 my-3 p-3">
        <p><strong>Received on</strong>: <%= @request.created_at.strftime("%Y/%m/%d at %H:%M") %></p>
        <p><strong>Full Name</strong>: <%= "#{@request.first_name} #{@request.last_name}" %></p>
        <p><strong>Email</strong>: <%= @request.email %></p>
        <p><strong>Mobile</strong>: <%= @request.mobile %></p>
        <hr>
        <h4>Message</h4>
        <p><%= @request.comments %></p>
      </div>
      <%= link_to "Add as client?", new_user_path(email: @request.email,
        first_name: @request.first_name, last_name: @request.last_name,
        mobile: @request.mobile), class: "btn btn-primary w-100 mb-3" %>
    </div>
  </div>
</div>
