<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h2 class="text-center mb-3">Patient</h2>
      <p>Full name: <%= @patient.name %></p>
      <p>email: <%= @patient.user.email %></p>
      <p>Mobile: <%= @patient.user.mobile %></p>
      <p>DoB: <%= @patient.dob %></p>
      <%= link_to "List", patients_path %>
      <% if policy(@patient).edit? %>
        <%= link_to edit_patient_path(@patient) do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
      <% if policy(@patient).destroy? %>
        <%= link_to patient_path(@patient), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
      <hr>
      <% if @patient.medical_forms.last %>
        <h2 class="text-center mb-3">Medical Form</h2>
        <% @patient.medical_forms.order(id: :desc).each do |medical_form| %>
          <%= link_to "Form #{medical_form.id}", medical_form_path(medical_form), class: "list-group-item list-group-item-action" %>
        <% end %>
      <% else %>
        <%= link_to "Add Medical Form", new_medical_form_path(patient_id: @patient.id), class: "btn btn-primary w-100 mb-3" %>
      <% end %>
      <br>
      <h2 class="text-center mb-3">Treatment Plans</h2>
      <% @patient.treatments.each do |treatment| %>
        <%= link_to "Treatment Plan #{treatment.id}", treatment_path(treatment), class: "list-group-item list-group-item-action" %>
      <% end %>
      <br>
      <h2 class="text-center mb-3">Bookings</h2>
      <% @bookings.each do |booking| %>
        <%= link_to booking_path(booking), class: "list-group-item list-group-item-action" do  %>
          <% "#{booking.start_time.strftime("%a, %e %b %Y")}" %>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
</div>
