<!DOCTYPE html>
<html>
  <head>
    <title>Design Dental Clinic</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= render 'shared/navbar_home' %>
    <% elsif !current_page?(links_path)%>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/pretender' %>

    <%= yield %>

    <%= render 'shared/footer' unless current_page?(links_path) %>
  </body>
</html>
