<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <%= simple_form_for @form do |f| %>
        <h2 class="text-center mb-3">Confidential Medical History Questionnaire</h2>
        <h4>Personal Information</h4>
        <%= f.simple_fields_for(@form.patient.user) do |b| %>
          <div class="form-row">
            <div class="col-3 form-group">
              <%= b.input :title, collection: User::TITLE %>
            </div>
            <div class="col-4 form-group">
              <%= b.input :first_name %>
            </div>
            <div class="col-5 form-group">
              <%= b.input :last_name %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-7 form-group">
              <%= b.input :email %>
            </div>
            <div class="col-5 form-group">
              <%= b.input :mobile %>
            </div>
          </div>
        <% end %>
        <%= f.simple_fields_for(@form.patient) do |b| %>
          <p>Address</p>
          <div class="form-row">
            <div class="col-6 form-group">
              <%= b.input :street, label: false, placeholder: "Street" %>
            </div>
            <div class="col-3 form-group">
              <%= b.input :city, label: false, placeholder: "City" %>
            </div>
            <div class="col-3 form-group">
              <%= b.input :postcode, label: false, placeholder: "Postcode" %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6 form-group">
              <%= b.input :dob, label: "Date of birth (dd/mm/yyyy)", html5: true %>
            </div>
            <div class="col-6 form-group">
              <%= b.input :sex, collection: ["Male", "Female"] %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 form-group">
              <p>How would you like to receive correspondence from Design Dental Centre?</p>
            </div>
            <div class="col-4 form-group">
              <%= b.input :communication, label: false, collection: ["email", "mobile"], selected: "email" %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 form-group">
              <p>Date of last dental visit (dd/mm/yyyy):</p>
            </div>
            <div class="col-4 form-group">
              <%= b.input :last_visit, label: false, html5: true %>
            </div>
          </div>
          <h4>Doctor’s Details (GP)</h4>
          <div class="form-row">
            <div class="col-7 form-group">
              <%= b.input :gp, label: "Name" %>
            </div>
            <div class="col-5 form-group">
              <%= b.input :gp_tel, label: "Tel" %>
            </div>
          </div>
          <p>Address</p>
          <div class="form-row">
            <div class="col-6 form-group">
              <%= b.input :gp_street, label: false, placeholder: "Street" %>
            </div>
            <div class="col-3 form-group">
              <%= b.input :gp_city, label: false, placeholder: "City" %>
            </div>
            <div class="col-3 form-group">
              <%= b.input :gp_postcode, label: false, placeholder: "Postcode" %>
            </div>
          </div>
        <% end %>
        <h4>Medical History</h4>
        <p>Do you have or have you had any of the following conditions?</p>
        <p>(Check all that apply)</p>
        <div class="form-row">
          <div class="form-group col-4">
            <%= f.input :anaemia, as: :boolean %>
          </div>
          <div class="form-group col-4">
            <%= f.input :arthritis, as: :boolean %>
          </div>
          <div class="form-group col-4">
            <%= f.input :cancer, as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-4">
            <%= f.input :cold_sore, as: :boolean %>
          </div>
          <div class="form-group col-4">
            <%= f.input :diabetes, as: :boolean %>
          </div>
          <div class="form-group col-4">
            <%= f.input :epilepsy, as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-4">
            <%= f.input :gatristis, label: "Gatristis disease", as: :boolean %>
          </div>
          <div class="form-group col-4">
            <%= f.input :rheumatic_fever, as: :boolean %>
          </div>
          <div class="form-group col-4">
            <%= f.input :hiv, label: "HIV", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-4">
            <%= f.input :brain_surgery, as: :boolean %>
          </div>
          <div class="form-group col-4">
            <%= f.input :drug_dependence, as: :boolean %>
          </div>
          <div class="form-group col-4">
            <%= f.input :headaches_migraines, label: "Headaches/Migraines", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <%= f.input :blood_pressure, label: "High or low blood pressure", as: :boolean %>
          </div>
          <div class="form-group col-6">
            <%= f.input :fainting_blackouts, label: "Fainting attacks or blackouts", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <%= f.input :allergies, label: "Allergies to any food, medecines, tablets, substances", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <%= f.input :heart_conditions, label: "Heart condition or heart attack, murmur, Angina", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <%= f.input :liver_kidney_problems, label: "Liver or kidney problems (hepatitis or jaundice)", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <%= f.input :chest_problems, label: "Chest problems (asthma, bronchitis, TB)", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <%= f.input :joint_replacement_implants, label: "Joint replacement or other implant", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <%= f.input :bad_anaesthesia_reaction, label: "Bad reaction to local or general anaesthesia", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <%= f.input :hospital_treatments, label: "Treatment that required staying in hospital", as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <p>Do you smoke or have you smoked before?</p>
            <%= f.input :smoking, as: :radio_buttons, label: false, wrapper: :horizontal_collection_inline %>
            <%= f.input :smoking_frequency, label: " If so, how many cigarettes do you smoke on average in a week?" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <p>Do you drink alcohol?</p>
            <%= f.input :alcohol, as: :radio_buttons, label: false, wrapper: :horizontal_collection_inline %>
            <%= f.input :alcohol_frequency, label: "If so, how many units of alcohol do you drink in a week?" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <p>Women only: Are you pregnant or nursing?</p>
            <%= f.input :pregnant_nursing, as: :radio_buttons, label: false, wrapper: :horizontal_collection_inline %>
            <%= f.input :due_date, label: "If so, hen is the due date? (dd/mm/yyyy)", html5: true %>
          </div>
        </div>
        <%= f.input :other_medical_info, label: "Please provide further details of any medical problem and/or any medication you are currently taking:" %>
        <h4>Dental History</h4>
        <p>Do you have or have you had any of the followings?</p>
        <p>(Check all that apply)</p>
        <div class="form-row">
          <div class="form-group col-6">
            <%= f.input :teeth_pain, as: :boolean %>
          </div>
          <div class="form-group col-6">
            <%= f.input :food_trap, as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <%= f.input :teeth_sensitivity, as: :boolean %>
          </div>
          <div class="form-group col-6">
            <%= f.input :mouth_ulcers, as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <%= f.input :bleeding, as: :boolean %>
          </div>
          <div class="form-group col-6">
            <%= f.input :grinding_teeth, as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <%= f.input :unpleasant_taste, as: :boolean %>
          </div>
        </div>
        <h4>Making the most of your smile</h4>
        <p>Can we help with any of the following?</p>
        <p>(Check all that apply)</p>
        <div class="form-row">
          <div class="form-group col-6">
            <%= f.input :stained_teeth, as: :boolean %>
          </div>
          <div class="form-group col-6">
            <%= f.input :missing_teeth, as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <%= f.input :uneven_teeth, as: :boolean %>
          </div>
          <div class="form-group col-6">
            <%= f.input :crooked_teeth, as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <%= f.input :black_filling, as: :boolean %>
          </div>
          <div class="form-group col-6">
            <%= f.input :uncomfortable_dentures, as: :boolean %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <%= f.input :cracked_teeth, as: :boolean %>
          </div>
          <div class="form-group col-6">
            <%= f.input :bad_breath, as: :boolean %>
          </div>
        </div>
        <%= f.input :other_medical_info, label: "Please provide further details about any concerns you may have with your smile:" %>
        <%= f.submit "Submit Form", class: "btn btn-primary w-100 mb-3" %>
      <% end %>
    </div>
  </div>
</div>
