<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h2 class="text-center mb-3">Confidential Medical History Questionnaire</h2>
      <p>Submitted on <%= @form.created_at.strftime("%d/%m/%Y at %H:%M") %></p>
      <h4>Personal Information</h4>
      <p><%= @patient.user.title %> <%= @patient.name %></p>
      <p>email: <%= @patient.user.email %></p>
      <p>Mobile: <%= @patient.user.mobile %></p>
      <p>Address: <%= @patient.street %>, <%= @patient.city %>, <%= @patient.postcode %></p>
      <p>Date of birth: <%= @patient.dob.strftime("%d/%m/%Y") if !@patient.dob.nil? %></p>
      <p>Gender: <%= @patient.sex %></p>
      <p>Correspondence preference: by <%= @patient.communication %></p>
      <p>Date of last dental visit: <%= @patient.last_visit.strftime("%d/%m/%Y") if !@patient.last_visit.nil? %></p>
      <h4>Doctor’s Details (GP)</h4>
      <p>GP: <%= @patient.gp %></p>
      <p>Tel: <%= @patient.gp_tel %></p>
      <p>Address: <%= @patient.gp_street %>, <%= @patient.gp_city %>, <%= @patient.gp_postcode %></p>
      <h4>Medical History</h4>
      <p>Applicable medical conditions:</p>
      <% if @form.anaemia %><p><i class="far fa-check-square"></i> Anaemia</p><% end %>
      <% if @form.arthritis %><p><i class="far fa-check-square"></i> Arthritis</p><% end %>
      <% if @form.cancer %><p><i class="far fa-check-square"></i> Cancer</p><% end %>
      <% if @form.cold_sore %><p><i class="far fa-check-square"></i> Cold sore</p><% end %>
      <% if @form.diabetes %><p><i class="far fa-check-square"></i> Diabetes</p><% end %>
      <% if @form.epilepsy %><p><i class="far fa-check-square"></i> Epilepsy</p><% end %>
      <% if @form.gatristis %><p><i class="far fa-check-square"></i> Gatristis disease</p><% end %>
      <% if @form.rheumatic_fever %><p><i class="far fa-check-square"></i> Rheumatic fever</p><% end %>
      <% if @form.hiv %><p><i class="far fa-check-square"></i> HIV</p><% end %>
      <% if @form.brain_surgery %><p><i class="far fa-check-square"></i> Brain surgery</p><% end %>
      <% if @form.drug_dependence %><p><i class="far fa-check-square"></i> Drug dependence</p><% end %>
      <% if @form.headaches_migraines %><p><i class="far fa-check-square"></i> Headaches/Migraines</p><% end %>
      <% if @form.blood_pressure %><p><i class="far fa-check-square"></i> High or low blood pressure</p><% end %>
      <% if @form.fainting_blackouts %><p><i class="far fa-check-square"></i> Fainting attacks or blackouts</p><% end %>
      <% if @form.allergies %><p><i class="far fa-check-square"></i> Allergies to any food, medecines, tablets, substances</p><% end %>
      <% if @form.heart_conditions %><p><i class="far fa-check-square"></i> Heart condition or heart attack, murmur, Angina</p><% end %>
      <% if @form.liver_kidney_problems %><p><i class="far fa-check-square"></i> Liver or kidney problems (hepatitis or jaundice)</p><% end %>
      <% if @form.chest_problems %><p><i class="far fa-check-square"></i> Chest problems (asthma, bronchitis, TB)</p><% end %>
      <% if @form.joint_replacement_implants %><p><i class="far fa-check-square"></i> Joint replacement or other implant</p><% end %>
      <% if @form.bad_anaesthesia_reaction %><p><i class="far fa-check-square"></i> Bad reaction to local or general anaesthesia</p><% end %>
      <% if @form.hospital_treatments %><p><i class="far fa-check-square"></i> Treatment that required staying in hospital</p><% end %>
      <% if @form.smoking %><p><i class="far fa-check-square"></i> Smokes <%= @form.smoking_frequency %> cigarette(s) on average per week</p><% end %>
      <% if @form.alcohol %><p><i class="far fa-check-square"></i> Drinks <%= @form.alcohol_frequency %> unit(s) of alcohol on average per week</p><% end %>
      <% if @form.pregnant_nursing %><p><i class="far fa-check-square"></i> Pregnant/Nursing, due date: <%= @form.due_date.strftime("%d/%m/%Y") %></p><% end %>
      <% if !@form.other_medical_info.nil? %>
        <p>Additional details of any medical problem and/or any medication taken:</p>
        <p><%= @form.other_medical_info %></p>
      <% end %>
      <h4>Dental History</h4>
      <p>Applicable dental conditions:</p>
      <% if @form.teeth_pain %><p><i class="far fa-check-square"></i> Pain or discomfort on your teeth</p><% end %>
      <% if @form.food_trap %><p><i class="far fa-check-square"></i> Food often stuck between teeth</p><% end %>
      <% if @form.teeth_sensitivity %><p><i class="far fa-check-square"></i> Teeth sensitivity</p><% end %>
      <% if @form.mouth_ulcers %><p><i class="far fa-check-square"></i> Mouth ulcers / cold sores</p><% end %>
      <% if @form.bleeding %><p><i class="far fa-check-square"></i> Bleeding when brushing / flossing</p><% end %>
      <% if @form.grinding_teeth %><p><i class="far fa-check-square"></i> Grinding teeth / clenching</p><% end %>
      <% if @form.unpleasant_taste %><p><i class="far fa-check-square"></i> Unpleasant taste / odours in your mouth</p><% end %>
      <h4>Making the most of your smile</h4>
      <p>Would like help with the following:</p>
      <% if @form.stained_teeth %><p><i class="far fa-check-square"></i> Stained / discoloured teeth</p><% end %>
      <% if @form.missing_teeth %><p><i class="far fa-check-square"></i> Missing teeth</p><% end %>
      <% if @form.uneven_teeth %><p><i class="far fa-check-square"></i> Uneven teeth / gaps</p><% end %>
      <% if @form.crooked_teeth %><p><i class="far fa-check-square"></i> Crossed over / crooked teeth</p><% end %>
      <% if @form.black_filling %><p><i class="far fa-check-square"></i> Unsightly / black filling</p><% end %>
      <% if @form.uncomfortable_dentures %><p><i class="far fa-check-square"></i> Uncomfortable dentures</p><% end %>
      <% if @form.cracked_teeth %><p><i class="far fa-check-square"></i> Cracked / transparent teeth</p><% end %>
      <% if @form.bad_breath %><p><i class="far fa-check-square"></i> Bad breath</p><% end %>
      <% if !@form.other_smile_info.nil? %>
        <p>Additional details about any smile concerns:</p>
        <p><%= @form.other_smile_info %></p>
      <% end %>
    </div>
  </div>
</div>
